{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Tier List de Filmes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    tierlistmovies\static\styles\style.css
</head>
<body>
    <header>
        <h1>MovieTierList</h1>
    </header>
    <div class="container">
        <main>
            <!-- Conteúdo principal do site -->
        </main>
        <aside>
            <div class="search-box">
                <h2>Search</h2>
                <input type="text" id="search" placeholder="Digite o nome do filme...">
                <button onclick="searchMovies()">Pesquisar</button>
            </div>
            <div class="results-box">
                <h2>Results</h2>
                <div id="results">
                    <!-- Resultados da pesquisa aparecerão aqui -->
                </div>
            </div>
        </aside>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
